name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
    - name: .Net Code Coverage Badge
      uses: simon-k/dotnet-code-coverage-badge@v1.0.0
      with:
        label: Test Coverage
        path: LexTest/TestResults/coverage.opencover.xml
        gist-filename: code-coverage.json
        gist-id: b409d0bf1588fba7862ec8178fce0e29
        gist-auth-token: ${{ secrets.GIST_AUTH_TOKEN }}
